body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1em;
  background-color: #bbeebb;
}
#formforlogin {
  width: 20%;
  position: relative;
  margin: auto;
  box-shadow: 5px 5px #5c8263;
  margin-top: 150px;
  border-radius: 10px;
  background-color: white;
}

#submit{
  margin-bottom: 10px;
  margin-top: 20px;
  padding: 4px 15px;
  background-color: lightgray;
  border: none;
  transition-duration: 0.4s;
}

#submit:hover{ 
  background-color: palegoldenrod;
}

#username{
  margin:5px;
  background-color: lightgray;
  border: none;
  padding: 8px;
}

h1{
  font-weight: 400;
  padding-top: 10px;
}

#password{
  margin: 5px;
  background-color: lightgray;
  border: none;
  margin-top: 10px;
  padding: 8px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#linechart1{
  width: 400px;
  height: 600px;
  }